// Breakpoints
$bp-l: 980px;
$bp-m: 880px;
$bp-s: 760px;

// Dimensions
$card-w: 720px;
$menu-w: 160px;
$portrait-w: 180px;

// Border radius
$round-l: 1.00rem;
$round-m: 0.50rem;
$round-s: 0.25rem;

// Spacing
$space-l: 1.00rem;
$space-m: 0.50rem;
$space-s: 0.25rem;

// Line widths
$line-l: 2.0px;
$line-m: 1.3px;
$line-s: 1.0px;
$spine: 3.0px;
